@font-face {
  font-family: RobotoCondensed;
  src: url(./assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(./assets/economica-bold.ttf);
}

body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: "RobotoCondensed";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EconomicaBold";
}

.card {
  display: inline-block;
  padding: 20px;
  margin-bottom: 0px;
}

.card-image {
  border-radius: 8px;
  width: 250px;
  height: 375px;
}

.class-image {
  border-radius: 60px;
  width: 120px;
  height: 120px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.selector {
  padding: 2%;
}

.selector-number {
  font-size: x-large;
  margin-left: 5px;
  margin-right: 5px;
}

.segment {
  margin-bottom: 30px;
  display: inline-block;
  justify-content: center;
  align-content: center;

  gap: 4px;
  grid-auto-flow: column;
}

.classBar {
  display: inline-block;
}

.classBar-element {
  display: inline-block;
  margin: 10px;
}

.cental-column {
  max-width: 1080px;
  margin: auto;
}
